<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecogaia</title>
    <!--css link-------------->
    <link rel="stylesheet" href="../public/styles/style.css" />
    <!--link ajax-------------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--fonts-------------->
    <link
      href="https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--icono-------------->
    <link
      rel="shortcut icon"
      href="../public/assets/hoja.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <!--barra navegacion-------------->
    <nav class="barra">
      <ul class="app">
        <li>
          <a href="./home.html" class="logo">
            <img src="../public/assets/hoja.png" alt="" />
            <span class="nav-item-nombre">Ecogaia</span>
          </a>
        </li>

        <li>
          <a href="./inicio.html">
            <i class="fas fa-home"></i>
            <span class="nav-item">Inicio</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fas fa-cart-shopping"></i>
            <span class="nav-item">Carrito</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fas fa-star"></i>
            <span class="nav-item">Favoritos</span>
          </a>
        </li>

        <li>
          <a href="./Blog.html">
            <i class="fas fa-paper-plane"></i>
            <span class="nav-item">Blog</span>
          </a>
        </li>
        
        <li>
          <a href="./perfil.html" class="perfil">
            <i class="fas fa-user"></i>
            <span class="nav-item">Perfil</span>
          </a>
        </li>

        <li>
          <a href="./home.html" class="registro">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item"> cerrar Sesion</span>
          </a>
        </li>
      </ul>
    </nav>
    <!--imagen fondo-------------->
    <img src="../public/assets/fondogris.png" class="wave" alt="" />

    <!--logotipo-------------->
    <div class="contenedorIn">
      <div class="Telefono">
        <img src="../public/assets/logosecundario.png" alt="" />
      </div>

      <!--actualizar datos-------------->

      <div class="login-contenedor">
        <form action="">
          <h2>Actualizar</h2>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <h5>Nombre Completo</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-envelope"></i>
            </div>
            <div>
              <h5>Correo</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-tent"></i>
            </div>
            <div>
              <h5>Direccion</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-unlock"></i>
            </div>
            <div>
              <h5>Cambiar Contraseña</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div>
              <h5>Confirmar Contraseña</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <div class="input-div">
            <div class="i">
              <i class="fas fa-phone-flip"></i>
            </div>
            <div>
              <h5>Telefono</h5>
              <input class="inputIn" type="text" />
            </div>
          </div>
          <!--boton-------------->
          <input type="submit" class="btn" value="Actualizar" />
        </form>
      </div>
    </div>
  </body>
</html>
