<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecogaia</title>
    <!--css link--------------> 
    <link rel="stylesheet" href="../public/styles/styleIn.css">
    <!--link ajax--------------> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--fonts--------------> 
    <link href="https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
      <!--icono--------------> 
    <link rel="shortcut icon" href="../public/assets/hoja.png" type="image/x-icon">
</head>
<body>
  <!--barra navegacion--------------> 
  <nav class="barra">
    <ul class="app">
      <li>
        <a href="" class="logo">
          <img src="../public/assets/hoja.png" alt="">
           <span class="nav-item-nombre">Ecogaia</span>
        </a>
        </li>

      <li><a href="./inicio.html" >
        <i class="fas fa-home"></i>
        <span class="nav-item">Inicio</span>
      </a></li>

      <li><a href="#">
        <i class="fas fa-cart-shopping"></i>
        <span class="nav-item">Carrito</span>
      </a></li>
      
      <li><a href="#">
        <i class="fas fa-star"></i>
        <span class="nav-item">Favoritos</span>
      </a></li>
      
      <li><a href="./Blog.html">
        <i class="fas fa-paper-plane"></i>
        <span class="nav-item">Blog</span>
      </a></li>
     

        
      <li><a href="./home.html" class="registro">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item"> cerrar Sesion</span>
      </a></li>

    </ul>
  </nav>
  <!--imagen fondo--------------> 
  <img src="../public/assets/fondogris.png" class="wave" alt="">

  <!--perfil usuario--------------> 
    <div class="info-container">
      <div class="left-side">
          <div class="profile-container">
              <img src="../public/assets/usuario.png" alt="" class="profile-icon">
          </div>
      </div>

      <div class="right-side">
          <div class="container">
              <h1 class="title">Usuario</h1>
              <a href="./AtualizarPerfil.html" class="edit-profile">Editar perfil</a>
          </div>

          <div class="container">
              <div class="info-content">
                  <span class="high">160</span>
                  <span>Favoritos</span>
              </div>
              <div class="info-content">
                  <span class="high">0</span>
                  <span>Blogs</span>
              </div>
              
          </div>

          <div class="description-container">
              <span class="low">usuario123@gmail.com</span>
          </div>

      </div>
  </div>

  <!--barra de favoritos--------------> 

  <div class="barra-navegacion">
      <span class="item">Favoritos</span>
      <span class="item">Carrito</span>

  </div>
</body>
</html>